.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--music-player-height);
    z-index: 100;
    cursor: pointer;
    padding: 0 16px;
    background-color: #170f23;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.player-with-thumb {
    display:flex;
    align-items: center;
}

.play__left-img{
    position: relative;
}

.player__thumbnail {
    width: 64px;
    height: 64px;
    border-radius: 5px;
}

.play__left-img--hover{
    width: 50px;
    height:50px;
    background-color:rgba(0,0,0,0.5) ; 
    position:absolute;
    bottom: 0px;
    display: none;
}
.play__left-img--hover .play__left-img--icon{
    margin-top: 12px;
    margin-left: 12px;
     color: darkgray;
     font-size: 1.7rem;
}
.play__left-img:hover .play__left-img--hover{
    display: block;
}

.player__content {
    margin-left: 8px;
}

.player__title {
    color:white;
    font-size: 1.4rem;
    font-weight: 500;
    display: block;
}

.player__subtitle {
    color: rgba(169, 169, 169, 0.8);
    font-size: 1.2rem;
}

.player__subtitle:hover {
    text-decoration: underline;
    color: darkviolet;
}
.playbar__left-icon {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.player__favorite,
.player__more {
    margin-left: 32px;
    font-size: 1.4rem;
    color: #fff;
}

.player-control {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    flex-grow: 1;
}

.player__actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__random,
.player__prev,
.player__next,
.player__repeat {
    width: 32px;
    height: 32px;
    margin: 0 16px;
}

.player__actions-icon {
    font-size: 2.6rem;
    color: #fff;
}

.player__play {
    width: 50px;
    height: 50px;
}

.player__play i {
    font-size: 4rem;
}

.player__repeat i,
.play:hover,
.pause:hover {
    color: #c662ef;
}

.player__play.playing .pause{
    display: flex;
}

.player__play.playing .play {
    display: none;
}

.pause {
    display: none;
}

.player__actions-progress {
    width: 100%;
    -webkit-appearance: none;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
    background-size: 0 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
  }

.player__actions-progress::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

.player__actions-progress::-webkit-slider-thumb {
    height: 6px;
    width: 10px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 2px black;
    background-color: #fff;
    -webkit-appearance: none;
    appearance: none;
}

.player__list {
    padding: 0;
    list-style: none;
    display: flex;
}

.player__item {
    width: 36px;
    height: 36px;
    margin: 0 6px;
}

.player__item i {
    font-size: 2rem;
    color: #fff;
    padding: 4px;
}

.message {
    position: fixed;
    left: 0;
    bottom: 100px;
}

.message div {
    background-color: #432275;
    font-size: 1.4rem;
    color: #fff;
}