.user__profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #170f23;
    height: 100%;
}

.user__avartar {
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.user__avatar-img img{
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.user__profile-container .title {
    font-size: 32px;
    font-family: Arial;
    font-weight: 700;
    letter-spacing: 2px;
    color:#fff;
    margin: 10px auto 5px;
    line-height: 1.2;
}
.user__profile-actions {
    position: absolute;
    right: 30px;
    top: 0;
    display: flex;
    align-items: center;
}
.user__profile-actions .vip-btn {
    background-color: yellow;
    color: black;
    text-decoration: none;
    
}
.user-btn.user-small {
    font-size: 15px;
    padding: 6px 19px;
    margin-left: 5px;
}
   
.user-rounded {
    overflow: hidden;
    border-radius: 999px; 
}
.user__profile-actions .vip-code-btn {
    background-color:  hsla(0,0%,100%,0.1);
    color: #fff;
    text-decoration: none;
    
}
.user-profile__actions .user__profile-btn {
    position: relative;
}
.user__profile-btn{
    margin-left: 10px;
}
.user-profile__actions .user-btn-more {
    border-radius: 999px;
    padding: 1px;
    margin-left: 6px;

}
.user-btn2 {
    font-size: 14px;
    background-color: hsla(0,0%,100%,0.1);
    border-radius: 999px;
    line-height: normal;
    border: 0;
    cursor: pointer;
    position: relative;
}
.user-btn2 span{
   color:#fff;
}
.user-navbar{
    margin-top: 40px;
}

.user-navbar-wrap.is-oval {
    border-bottom: none;
    padding-left: 0;
}
.user-navbar-wrap {
    border-bottom: 1px solid hsla(0,0%,100%,0.1);
}

.user-navbar-wrap .user-narbar-container {
    display: flex;
    align-items: center;
    min-height: 52px;
}
.user-navbar-wrap.is-oval .user-navbar-menu {
    font-weight: 400;
    margin: 0 auto;
    background-color: hsla(0,0%,100%,0.1);
    padding: 3px;
    border-radius: 15px;
}
.user-navbar-wrap .user-navbar-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
}
.user-navbar-wrap.is-oval .user-navbar-menu .user-navbar-item.is-active {
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
    background-color: hsla(0,0%,100%,0.3);
}
.user-navbar-wrap.is-oval .user-navbar-menu .user-navbar-item {
    padding: 0;
    font-size: 12px;
    line-height: 1;
    min-width: 120px;
    margin: 0;
    color: #dadada;
}
.user-profile-navbar .user-navbar-item {
    min-width: 100px;
}
.user-navbar-wrap .user-navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    color:#dadada;
    margin: 0 20px;
    line-height: normal;
}
.user-navbar-wrap.is-oval .user-navbar-menu .user-navbar-item a {
    display: block;
    padding: 7px 25px;
}
a {
    cursor: pointer;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-decoration: none;
    color:#dadada;
}
a.active, a:hover {
    text-decoration: none;
    color: #fff;
}

.user-navbar-item.is-active a {
    color: #fff;
}

.user-navbar-wrap.is-oval .user-navbar-menu .user-navbar-item {
    padding: 0;
    font-size: 12px;
    line-height: 1;
    min-width: 120px;
    margin: 0;
    color: #dadada;
}
.user-navbar-wrap .user-navbar-item.btn-dropdown {
    min-width: 52px;
}
.user-navbar-btn {
  
    font-size: 14px;
    /* border-radius: 999px; */
    line-height: normal;
    border: 0;
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    background-color: transparent
    ;
}
.user-navbar-btn span{
    color: #dadada;
}
/* css list bài hát */
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.library-song-list .song-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.title {
    font-weight: 700;
    text-transform: capitalize;
    display: block;
}
h3.title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 30px;
}
.song-list-right {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
}
.zm-btn.is-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: hsla(0,0%,100%,0.1);
    border: 1px solid hsla(0,0%,100%,0.1);
    color: #fff;
    margin-left: 12px;
}
.is-upper {
    text-transform: uppercase;
}
.zm-btn {
    width: 150px;
    height: 30px;
    font-size: 13px;
    border-radius: 999px;
    line-height: normal;
    border: 0;
    display: inline-block;
    font-weight: 400;
    /* text-transform: none;
    text-align: center; */
    cursor: pointer;
    position: relative;
}

.song-list-right .song-list-icon {
    font-size: 20px;
    margin-right: 4px;
}
/* .icon {
    line-height: 66%;
    display: inline-block;
} */
.zm-btn.is-outlined.active {
    background-color: #7200a1;
    border-color: #7200a1;
    color:#fff;
}

.main_article p{
    color: white;
}
.main__list{
    display: flex;
    align-items: center;
}
.main__list-title{
    color:darkgrey;
    font-weight: bold;
    font-size: 1.5rem;
}
.main__list span{
   color:white;
   padding-right: 3px;
}
.main__list i{
    color:white;
    font-size: 1.5rem;
    padding-right: 9px;
}

.main__list img{
     height:40px;
}
.main__list-songname{
    margin: 0 0 0 1px;
    list-style: none;
    
}
.main__list-songname .main__list-songname--li1{
     font-weight: bold; 
    font-size: 1.4rem;
    color: white;
}
.main__list-songname li{
    color:darkgray;
    cursor: pointer;
    font-size: 1.2rem;
}
.main__list-album{
    color: darkgrey;
    cursor: pointer;
    font-size: 1.3rem;
}
/*css phần hover */
 .main__list{
    position: relative;
}
.main__list-hover2{
    width: 1000px;
    height:45px;
    position: absolute;
    top:2px;
    left: 1px;
    border-radius: 3px;
    display: none;   
    
}
.main__list-hover2--ul{
    display: flex;
    list-style: none;
}
.main__list-hover2--li1{
   margin-top:10px;
   margin-left: 12px;

}
.main__list-hover2--li2{
    margin-top:10px;
    margin-left: 720px;
}
.main__list-hover2--li2 span{
    padding-left: 8px;

}
.main__list:hover .main__list-hover2 {
    display:block;
    background-color:rgba(66,66,66,0.4) ;
     
}  

.footer__content{
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer__content p{
    color:darkgray;
    padding-left: 8px;
    font-size: 1.2rem;

}
.footer__content .footer__content-icon{
    color:darkgray;
    font-size: 0.5rem;
    margin-left: 7px;
    margin-bottom: 10px;
    
}
