html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

:root {
    --text-color: #cdd6da;
    --background-color: #170f23;
    --navbar-vertical-width : 240px;
    --header-height: 70px;
    --music-player-height: 90px;
}

body {
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    width: 4px;
}

  /* Track   */
::-webkit-scrollbar-track {
    background-color: rgb(140, 131, 141);
  }
   
  /* Handle   */
::-webkit-scrollbar-thumb {
    background: rgba(177, 177, 177, 1);
    border-radius: 10px;
    display: none;
  }
  
  /* Handle on hover   */
::-webkit-scrollbar-thumb:hover {
    background: rgba(177, 177, 177, 0.6);
    display: unset;
}


/* sidebar css */
.navbar-vertical {
    width: var(--navbar-vertical-width);
    align-items: unset;
    justify-content: unset;
    background-color: #231b2e;
    overflow-y: scroll;
}

.navbar-brand {
    height: 70px;
}

.navbar-brand img{
    width: 150px;
    height: 80px;
}
.navbar__list1{
    margin-top: 15px;
    border-bottom: rgb(219, 219, 219) solid 1px;
    padding-bottom: 15px;
}

.navbar__list2{
    margin-top: 15px;
    padding-bottom: 15px;
}
.nav-item-label{
    font-size: 1rem;
    line-height: 1.6rem;
    width: 30px;
    height: 20px;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
    color: var(--white-color);
    background-color: red;
}
.sidebar__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px 10px 20px;
    padding: 15px 8px;
    width: 200px;
    height: 109px;
    border-radius: 8px;
    background-image: linear-gradient(117deg,#5a4be7,#c86dd7 102%);
}

.sidebar__login-description {
    display: block;
    text-align: center;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    width: 100%;
    margin: 0 0 10px;
}

.button.sidebar__login-btn {
    width: 125px;
    height: 100px;
    font-weight: 1000;
    border: 1px solid var(--white-color);
    margin-left: 80px;
}
.sidebar__subnav-menu{
    margin-top: 15px;
    list-style: none;
}
.sidebar__menu-item{
    margin-bottom: 10px;
}
.sidebar__menu-title{
    color: #cdd6da;
    margin-right: 100px;
}
.sidebar__menu-link{
    text-decoration: none;
}
.sidebar__menu-link span{
    color: #cdd6da;

}
.sidebar__menu-item{
    font-size: 1.4rem;
    font-weight: 700;
    box-sizing: inherit;
    color: var(--text-color);
}
.sidebar__menu-link span{
    margin-left: 10px;
}
.sidebar__create-container{
    font-size: 1.4rem;
    font-weight: 500;
    box-sizing: inherit;
    color: var(--text-color);
    display: flex;
}

.navbar__link:hover {
    color: #fdffff;
}

.navbar__link:focus {
    color: #fdffff;
}

.navbar__link {
    padding: 2px 32px;
    color: var(--text-color);
}

.navbar__link span {
    font-size: 1.4rem;
    font-weight: 700;
}

.navbar__link.active {
    color: #fdffff;
    background-color: #393243;
    border-left: 4px solid #7200a1;
}

.navbar__link-icon {
    font-size: 2.4rem;
    margin-right: 8px;
}
/* main css */

.main__container {
    margin-left: var(--navbar-vertical-width);
    margin-top: calc(var(--header-height) + 36px);
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    margin-left: 240px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(23, 15, 35,0.9);
    font-size: 1.4rem;
    font-weight: 700;
    color: #cdd6da;
    z-index: 1;
}  

.header_left{
    font-size: 2.2rem;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
}
.header_search{
    margin-right: 200px;
    display: flex;
    align-items: center;
    width: 450px;
    height: 35px;        
    background-color: #2f2739;
    border-radius: 25px;
    margin-left: 30px;
}
.header_search i{
    font-size: 20px;
    margin-left: 10px;
}
.header_search input{
    flex: 1;
    height: 100%;
    background-color: #2f2739;
    outline: none;
    border:none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 20px;
    margin-left: 5px;
}
.header_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__topic{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#2f2739;
    margin-left: 8px;
    margin-right: 15px;
}
.header__topic svg{
    margin-left: 10px;
    margin-top: 10px;
}
.header__upload{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#2f2739;
    margin-left: 8px;
    margin-right: 15px;
}
.header__upload span{
    margin-left: 8px;
    margin-top: 7px;
}
.header__setting{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#2f2739;
    margin-left: 8px;
    margin-right: 15px;
}
.header__setting span{
    margin-left: 7px;
    margin-top: 8px;
}
.header__avatar{
    font-size: 40px;
    margin-bottom: 2px;
    margin-left: 5px;
    cursor: pointer;
}
.header_right{
    margin-right: 20px;
}
/* css main chính */

.main_article-img{
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    padding: 0px 8px;
}

.main_article-img img{
    width: 100%;
    transition: 0.8s;
    position: relative;
    border-radius: 5px;

}
.main_article-img:hover img {
    transform: scale(1.1, 1.1);
}

.main_article-icon{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 3px;
    display: none; 
}

.main_article-icon i{
    color:rgb(248, 248, 248);
    font-size: 5rem;
    margin: auto;
}

.main_article-img:hover .main_article-icon {
    display: flex;
    cursor: pointer; 
 
} 
.main_article-object{
    text-align: center;
    margin-left: 40px;
}
.main_article-title {
    text-decoration: none;
   
    /* color: white; */
    /* font-weight: bold; */
    font-family: Arial;
    display: block;
     padding-top: 5px;
}
.main_article-title h4{
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
   
}
.main_article-object .main_article-topic{
    color:darkgray;
    font-size: 1.3rem;
    font-family: Arial;
    cursor: pointer;
}
.main_article-object .main_article-topic1{
    color:darkgray;
    font-size: 1.3rem;
    font-family: Arial;
    cursor: pointer;
}
.main_article-topic1:hover{
      color:violet;
}
.btnContinute{
    width: 200px;
    height: 40px;
    background-color:#432275 ;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
  
}
.btnContinute span{
    color: white;
    margin: auto;
    
}
.btnContinute p{
    color:white;
    margin: auto;
    font-size: 1.5rem;
}
/*css main list*/
.main_article p{
    color: white
}
.main__list{
    display: flex;
    align-items: center;
}

.playlist__header-name,
.playlist__header-album,
.playlist__header-time{
    color:rgba(169, 169, 169, 0.7);
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.playlist__header-name {
    padding-left: 33px;
}

.playlist__item {
    cursor: pointer;
    padding: 10px 0;
}


.playlist__item:hover {
    background-color: #2f2739;
}

.playlist__item:hover .playlist__time span {
    display: none;
}

.playlist__item:hover i,
.playlist__item:hover .playlist__thumb-icon{
    display: flex;
}

.playlist__icon {
    color:rgba(255,255,255, 0.5);
    font-size: 1.5rem;
    margin-right: 9px;
    display: flex;
    align-items: center;
}

.playlist__img {
    position: relative;
}

.playlist__thumb {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 8px;
}

.playlist__thumb-icon {
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    right: 8px;
    bottom: 0;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.playlist__thumb-icon i {
    margin: auto;
    display: none;
}

.playlist__info-title {
     font-weight: 500; 
    font-size: 1.4rem;
    color: white;
    display: block;
}

.playlist__info-subtitle {
    color:darkgray;
    font-size: 1.2rem;
    font-weight: 600;
}

.playlist__album,
.playlist__time {
    color: darkgrey;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.playlist__album-icon,
.playlist__time-icon {
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-left: 32px;
    display: none;
}

/*css phần hover */
.playlist__item {
    position: relative;
}
 

.footer__content{
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer__content p{
    color:darkgray;
    padding-left: 8px;
    font-size: 1.2rem;

}
.footer__content .footer__content-icon{
    color:darkgray;
    font-size: 0.5rem;
    margin-left: 7px;
    margin-bottom: 10px;
    
}
/* Css music bar */
.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--music-player-height);
    z-index: 100;
    cursor: pointer;
    padding-left: 16px;
    background-color: #170f23;
}

.player-controls {
    /* position: fixed; */
    z-index: 2;
    width: 100%;
    bottom: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 .player-controls__container {
    height: 90px;
    min-width: 768px;
    padding: 0 20px;
    background-color: rgba(0,0,0,0.2);
    border-top: 1px solid hsla(0,0%,100%,0.1);
    display: flex;  
}

.player-with-thumb {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.play__left-img{
    position: relative;
}
.player__thumbnail {
    width: 64px;
    height: 64px;
    margin-top: 3px;
    border-radius: 2px;
}
.play__left-img--hover{
    width: 50px;
    height:50px;
     background-color:rgba(0,0,0,0.5) ; 
    position:absolute;
    bottom: 0px;
    display: none;
}
.play__left-img--hover .play__left-img--icon{
    margin-top: 12px;
    margin-left: 12px;
     color: darkgray;
     font-size: 1.7rem;
}
.play__left-img:hover .play__left-img--hover{
    display: block;
}

.playbar__left-title{
    margin-left: 10px;
    margin-top: 12px;
}
.playbar__left-title .playbar__left-title--p1{
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
}
.playbar__left-title p{
    color: darkgray;
    font-size: 1.3rem;
}
.playbar__left-title--p2:hover{
    color: darkviolet;
}
.playbar__left-icon{
    display: flex;
    justify-content: space-between;
    width: 100px;
    
}
.playbar__left-icon span{
    margin-left: 15px;
    font-size: 1.9rem;
    color: #fff
}
.playbar__left-icon .playbar__left-icon--heart{
    color:darkviolet;
}

