*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0;
   
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #170f23;
    font-size: 10px;
    z-index: 1;
}  

.header_left{
    display:flex;
    justify-content: space-between;
    width:120px;
   padding-left: 40px;
    
}
.header_left span{
    color:darkgray;
}

.header_search{
    display: flex;
    align-items: center;
    width: 450px;
    height: 35px;
    background-color: #432275;
    border-radius: 25px;
    margin-left: 20px;

}
.header_search span{
    color: white;
    margin-left: 9px;

}
.header_search-input{
    flex: 1;
    height: 100%;
    background-color: #432275;
    outline: none;
    border:none;
    border-radius: 25px;
    font-size: 0.9rem;
}
.header_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}
.header__topic{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#432275;
    margin-left: 8px;
}
.header__topic-notify{
    position:absolute;
    top:120%;
    left: 20px;
    right:190px;
    width:48px;
    height:26px;
    background-color: darkgrey;
    padding-top: 5px;
    display: none; 

   
    
}
.header__topic-notify p{
    color:whitesmoke;
    font-size: 0.7rem;
    text-align: center;
    

}
.header__topic-notify::before{
    content:"";
    border:10px solid;
    border-color: transparent transparent transparent darkgray;
    position: absolute;
    right:10px;
    top:-10px;
}

.header__topic:hover .header__topic-notify{
    display:block; 
} 
.header__topic i{
    position:absolute;
    font-size: 15px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.header__setting{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#432275;
    margin-left: 8px;

}
.header__setting span{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}
.header__setting-notify{
    position:absolute;
    top:120%;
    left: 20px;
    right:190px;
    width:48px;
    height:26px;
    background-color: darkgrey;
    padding-top: 5px;
    display: none;
}
.header__setting-notify p{
    color:whitesmoke;
    font-size: 0.7rem;
    text-align: center;

}
.header__setting-notify::before{
    content:"";
    border:10px solid;
    border-color: transparent transparent transparent darkgray;
    position: absolute;
    right:10px;
    top:-9px;
}
.header__setting:hover .header__setting-notify{
    display:block;
}
.header__upload{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#432275;
    margin-left: 8px;
}
.header__upload span{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}
.header__upload-notify{
    position:absolute;
    top:120%;
    left: 20px;
    right:190px;
    width:48px;
    height:26px;
    background-color: darkgrey;
    padding-top: 5px;
    display: none;

}
.header__upload-notify p{
    color:whitesmoke;
    font-size: 0.7rem;
    text-align: center;

}
.header__upload-notify::before{
    content:"";
    border:10px solid;
    border-color: transparent transparent transparent darkgray;
    position: absolute;
    right:10px;
    top:-9px;
}
.header__upload:hover .header__upload-notify{
    display:block;
}
.header__avatar:hover,i:hover{
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
/* header css main */
.main_container{
    background-color: #170f23;
    margin-top: 70px;
    margin-left: 240px;
}

/* css main chính */

.main_article-img{
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.main_article-img img{
    transition: 0.8s;
}
.main_article-img:hover img {
    transform: scale(1.2, 1.2);
  }
.main_article img{
    height:300px;
    border-radius: 3px;
    position: relative;
} 
.main_article-icon{
    width: 300px;
    height:300px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 3px;
   /* display: flex; */
   
    display: none; 

 

}
.main_article-icon span{
    color:whitesmoke;
    font-size: 2.2rem;
    margin: auto;
}
 
.main_article-img:hover .main_article-icon {
    display: flex;
    cursor: pointer; 
 
} 
.main_article-object{
    text-align: center;
    margin-left: 40px;
}
.main_article-title {
    text-decoration: none;
    /* font-size: 1.0rem; */
    /* color: white; */
    /* font-weight: bold; */
    font-family: Arial;
    display: block;
     padding-top: 5px;
}
.main_article-title h4{
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
   
}
.main_article-topic{
    color:white;
    font-size: 1.0rem;
    font-family: Arial;
    cursor: pointer;
    color:darkgray;
}
.btnContinute{
    width: 200px;
    height: 40px;
    background-color:#432275 ;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
  
}
.btnContinute span{
    color: white;
    margin: auto;
    
}
.btnContinute p{
    color:white;
    margin: auto;
}
/*css main list*/
.main_article p{
    color: white
}
.main__list{
    display: flex;
    align-items: center;
}
.main__list-title{
    color:darkgrey;
    font-weight: bold;
}
.main__list span{
   color:white;
   padding-right: 3px;
}

.main__list img{
     height:40px;
}
.main__list-songname{
    margin: 0 0 0 1px;
    list-style: none;

}
.main__list-songname--li1{
    font-weight: bold;
}
.main__list-songname li{
    color:darkgrey;
    cursor: pointer;
}
.main__list-album{
    color: darkgrey;
    cursor: pointer;
}
/*css phần hover */
 .main__list{
    position: relative;
}
.main__list-hover2{
    width: 700px;
    height:60px;
    position: absolute;
    top:0px;
    right: -270px;
    border-radius: 3px;
     display: none;   
    
}
.main__list-hover2--ul{
    display: flex;
    list-style: none;
}
.main__list-hover2--li1{
   margin-top:20px;
   margin-left: 11px;

}
.main__list-hover2--li2{
    margin-top:20px;
    margin-left: 500px;
}
.main__list:hover .main__list-hover2 {
    display:block;
    background-color: hsla(0,0%,100%,0.5);
} 

.footer__content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__content p{
    color:darkgray;
    padding-left: 8px;

}
.footer__content .footer__content-icon{
    color:darkgray;
    font-size: 0.4rem;
    margin-left: 7px;
    margin-bottom: 10px;
    
}
